<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Call App By harish</title>
  </head>
  <style>
    * {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      text-decoration: none;
    }

    button {
      text-decoration: none;
      padding: 10px;
      background-color: aquamarine;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: aqua;
    }
  </style>
  <body>
    <div style="text-align: center">
      <h1>Welcome To Video Call App By harish</h1>
      <h4>To use this app you need to be Authenticate with "google"</h4>
      <a href="/auth/google/oauth2"
        ><button>Authenticate With Google</button>
      </a>
    </div>
  </body>
</html>
