<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Call App By Harish</title>
    <script
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.1/peerjs.min.js.map"
      defer
    ></script>
    <script>
      const ROOM_ID = "<%= roomId %>";
      const USER_NAME = "<%= display_name %>";
      const PIC = "<%= profilePicture %>";
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/script.js" defer></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="main">
      <div class="main__left" id="main__left_id">
        <div class="open-chat">
          <button onclick="openNav()" class="open-chat-btn">Chat</button>
          <button onclick="openPart()" class="open-chat-btn">
            Participants
          </button>
        </div>
        <div class="main__videos">
          <div id="video-grid"></div>
        </div>
        <div class="main__controls">
          <div class="main__controls_block">
            <div
              id="mute_unmute_btn"
              onclick="MuteUnmute()"
              class="main__controls_button"
            >
              <i class="fas fa-microphone"></i>
              <span>Mute</span>
            </div>
            <div
              id="start_stop_vid"
              onclick="StartStopVideo()"
              class="main__controls_button"
            >
              <i class="fas fa-video"></i>
              <span>Stop Video</span>
            </div>
          </div>
          <div class="main__controls_block">
            <div class="main__controls_button">
              <span style="color: red" onclick="LeaveMeeting()"
                >Leave Meeting</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="main__right" id="main__right_id_participants">
        <div class="main__header">
          <h6>
            <span onclick="closePart()" class="closebtn">x</span>
          </h6>
          <h6 style="text-align: center">Participants</h6>
        </div>
        <div class="main__chat_window">
          <div class="messages" id="participant_container"></div>
        </div>
      </div>
      <div class="main__right" id="main__right_id">
        <div class="main__header">
          <h6>
            <span onclick="closeNav()" class="closebtn">x</span>
          </h6>
          <h6 style="text-align: center">Chat</h6>
        </div>
        <div class="main__chat_window">
          <div class="messages" id="msg_container"></div>
        </div>
        <div class="main__message_container">
          <input
            id="chat_message"
            type="text"
            placeholder="Type Message here..."
          />
        </div>
      </div>
    </div>
  </body>
</html>
